*{
    margin: 0;
    padding: 0;
}

header{
    width:100%;
    height:56px;
    background-color: rgb(44, 62, 80);
    padding: 24px 0px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
}

.childrens{
    margin-left: 600px;
}

.children{
    margin-left: 800px;
}

.navbar{
    font-weight :700;
    text-decoration: none;
    color: aliceblue;
    font-size: 28px;
    text-align: start;
    padding: 5px;

}
.pages{
    font-weight :700;
    text-decoration: none;
    color: aliceblue;
    font-size: 28px;
    text-align: start;
    padding: 20px;
}
.Start{
    width: 100%;
    height: 700px;
    background-color: rgb(26, 188, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg{
    width: 240px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    
}

.Start .section h1 {
    color: aliceblue;
    font-size: 100px;
    margin-bottom: 60px;
}
.section{
    width: 1320px;
    height: 486px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Start .section p{
    color: aliceblue;
    font-weight: 500 bold;
    font-size: 30px;
}

.prodacts {
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.Portfolio {
    color: rgb(44, 62, 80);
    font-size: 60px;
    text-align: center;
    margin-bottom: 65px;
    

}

 .prodact{
    width: 1250px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    border-radius: 5px;

}

.prodacts .prodact img {
    width: 30%; 
    height: 288px;
    border-radius: 8px;
}
.about {
    width: 100%;
    height: 580px;
    background-color: rgb(26, 188, 156);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.first {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.about div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.first p {
    margin: 10px 15px;
    color: aliceblue;
    font-size: 22px;
    max-width: 45%; 
}

.about h2 {
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 20px; 
}

.first .download {
    color: aliceblue;
    font-size: 22px;
    text-decoration: none;
    border-radius: 20px 8px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6347;
}

.contact {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 700px;
}

.contact h2 {
    color: rgb(44, 62, 80); 
    font-size: 55px; 
    margin-bottom: 20px; 
    text-align: center;
}

.contact-me {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 15px;
    padding: 20px;
    width: 1200px; 
}

.contact-me input {
    width: 100%; 
    padding: 20px;
    margin: 5px ;
    border: none;
    border-bottom: 1px solid ;
    font-size: 26px; 
}

.contact-me input::placeholder {
    text-align: start; 
}

button{
    width: 90px;
    height: 65px;
    background-color:rgb(26, 188, 156) ;
    color: aliceblue;
    border: none;
    border-radius: 4px 4px;
    padding: 15px 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 1147px;
}
footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    background-color: rgb(44, 62, 80);
    gap: 200px;
    
}

h4{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
 footer p {
    font-size: 26px;
    margin-top: 30px;
 }
 i{
    font-size: 40px;
    margin: 10px 22px;
    color: aliceblue;
    margin-top: 30px;
 }
